name: Node CI

# 指定触发action的事件
on:
  push:
    # 指定触发指定事件的分支 仅master触发
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x]

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ strategy.matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ strategy.matrix.node-version }}
      - name: 执行npm run build
        run: |
          cd website
          npm run build
      - name: 进入dist文件夹 准备提交代码
        run: |
          # echo 'cd dist/ 进入dist文件夹'
          cd build/

          echo 'ls 查看dist文件夹下的所有文件'
          ls

          # echo 'git init'
          git init

          echo 'git config'
          git config --global user.name ${{ secrets.USER_NAME }}
          git config --global user.email ${{ secrets.USER_EMAIL }}

          git remote add origin https://cathe-zhang:${{ secrets.USER_PWD }}@github.com/cathe-zhang/tarox.git
          # git remote set-url origin https://github.com/cathe-zhang/tarox.git

          git fetch origin

          echo 'git branch -r'
          git branch -r
          echo 'git branch -l'
          git branch -l

          echo 'git add .'
          git add .

          echo 'git commit -m "deploy"'
          git commit -m 'deploy'

          # echo 'git checkout -b master origin/master'
          # git checkout -b master origin/master

          # echo 'git checkout -b dev origin/dev'
          # git checkout -b dev origin/dev

          # echo 'git branch -l'
          # git branch -l

          echo 'git push'
          # git push -f https://cathe-zhang:${{ secrets.GITHUB_TOKEN }}@github.com/cathe-zhang/tarox.git master

          # 推送到远端
          git push -f origin HEAD:website
